.news-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 110px;
    background-color: rgba(255, 255, 255, 0);
  }
  
  .news-card {
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  mat-card-image {
    height: 200px;
    object-fit: cover;
  }
  
  mat-card-content {
    padding: 16px;
    background-color: #fff;
  }
  
  mat-card-content h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  mat-card-content p {
    margin-top: 8px;
    color: #666;
    font-size: 14px;
    line-height: 1.5;
  }
  

  .news-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en varias filas si es necesario */
    gap: 16px; /* Espacio entre las tarjetas */
    justify-content: flex-start; /* Alinea las tarjetas al inicio */
  }
  
  .news-card {
    width: 328px; /* Tamaño estándar de las tarjetas */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
  }
  
  .news-card.first-card {
    width: 450px; /* Tamaño mayor solo para la primera tarjeta */
    flex-grow: 1; /* Asegura que se integre bien en el diseño flexbox */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
  }
  
  .news-card.second-card {
    height: 500px;
    width: 230px; /* Segunda tarjeta más estrecha */
    align-self: flex-start; /* Alinea la segunda tarjeta con la fila superior */
  }
  
  .news-card:hover {
    transform: scale(1.05); /* Efecto hover suave para todas las tarjetas */
  }
  
  .news-card.first-card:hover{
    transform: scale(1.03);
  }
  