<ng-container >
<div class="tournament-registration">
  <mat-card class="registration-card">
    <mat-card-header *ngIf="selectedTournament">
      <mat-card-title>Inscripción - {{ selectedTournament.name }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p><strong>Lugar:</strong> {{ selectedTournament.lugar }}</p>
      <p><strong>Fecha:</strong> {{ selectedTournament.fechaTorneo | date:'dd/MM/yyyy' }}</p>

      <h3>Pruebas disponibles:</h3>
      
        <mat-list-item *ngFor="let prueba of selectedTournament.pruebas">
          <mat-checkbox class="prueba-texto">{{ prueba }}</mat-checkbox>
          <mat-form-field class="marca-input">
            <mat-label>Marca registrada</mat-label>
            <input matInput type="time"> 
          </mat-form-field>
        </mat-list-item>
        
    </mat-card-content>

    <mat-card-actions>
      <button mat-button color="primary" (click)="inscribirse()">
        Inscribirse
      </button>
      <button mat-button color="warn" routerLink="/torneos">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</div>
</ng-container>