<div class="news-container">
    <mat-card class="news-card" *ngFor="let post of posts; let i = index">
      <img mat-card-image [src]="post.image" alt="imagen noticia">
      <mat-card-content>
        <h3>{{ post.title }}</h3>
        <p>{{ post.description }}</p>
      </mat-card-content>
    </mat-card>
  </div>

<!-- <div class="news-container">
<mat-card class="news-card" *ngFor="let publicacion of publicaciones; let i = index">
      <img mat-card-image [src]="publicacion.image" alt="imagen noticia">
      <mat-card-content>
        <h3>{{ post.title }}</h3>
        <p>{{ post.description }}</p>
      </mat-card-content>
    </mat-card>
  </div>


  <div *ngFor="let publicacion of publicaciones">
    <p>{{ publicacion.caption }}</p>
    <img *ngIf="publicacion.media_type === 'IMAGE'" [src]="publicacion.media_url" alt="Instagram Image">
    <video *ngIf="publicacion.media_type === 'VIDEO'" [src]="publicacion.media_url" controls></video>
  </div>
</div> -->
  