.tournament-list {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 80px;
  }
  
  .tournament-card {
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  mat-card-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .error-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  color: rgb(146, 114, 114);
  font-weight: bold;
}
